@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card h-auto" style="width: 20rem;">
            <img class="card-img-top h-auto" src="~/Content/Faculty.png" alt="Faculty">
            <div class="card-body">
                <h2 class="card-title">@Html.ActionLink("Faculty View", "SetRole", new { role = "Faculty" })</h2>
                <p class="card-text">This provides the view of faculty</p>
            </div>
        </div>
     </div>
    <div class="col-md-4">
        <div class="card h-auto" style="width: 20rem;">
            <img class="card-img-top h-auto" src="~/Content/student.png" alt="Student">
            <div class="card-body">
                <h2 class="card-title">@Html.ActionLink("Student View", "SetRole", new { role = "Student" })</h2>
                    <p class="card-text">This provides the view of student</p>
            </div>

        </div>
     </div>
</div>