@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office Hours</h1>
    <p class="lead">This App allows students to view faculty information and make appointments, submit papers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Initial setup</h2>
        <p>
            Faculty needs to login first to give permissions to this app to get access to his/her outlook calender
        </p>
        <p>Please click the sign-In with microsoft button on the top right to login</p>
    </div>
    <div class="col-md-4">
        <h2>Ensure the kiosk is secured</h2>
        <p>Please ensure that the URL is not editable and a new tab should not be allowed to created</p>
    </div>
    
</div>