@model IEnumerable<WebApp.Models.scheduleModel>
@{
    ViewBag.Title = "Office Hours";
}

<div class="col-md-5">
    <div style="padding-bottom: 30px;">
        @{Html.RenderAction("status");}
    </div>
</div>

@Html.Partial("Calendar")



