@model IEnumerable<WebApp.Models.scheduleModel>
@{
    ViewBag.Title = "Office Hours";
}

    <div class="row">
        <div class="col-xs-6">
            @Html.Partial("Calendar")
        </div>
        <div class="col-xs-offset-4 col-md-2" style="margin-top: 0px;padding-right: 0px;padding-left: 60px;">
            @{Html.RenderAction("status");}
        </div>
    </div>
