
@if (Request.IsAuthenticated)
{
    System.Security.Claims.Claim claim = System.Security.Claims.ClaimsPrincipal.Current.FindFirst("preferred_username");
    string name = claim != null ? claim.Value.Trim() : string.Empty;

    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">Hello, @name </li>
            <li class="nav-item">
                @Html.ActionLink("Sign out", "SignOut", "Account", null, new { @class = "nav-link" })
            </li>
        </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><img src="~/Content/microsoft.png" style="max-width: 30px;max-height: 30px; display:block; vertical-align:bottom" /></li>
            <li> @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li class="nav-item">
            <a href="@Url.Action("SignIn", "Account")" title="Sign in" class="nav-link">                
                Sign in with Microsoft
            </a>
        </li>

    </ul>
}
