
@if (Request.IsAuthenticated)
{
    System.Security.Claims.Claim claim = System.Security.Claims.ClaimsPrincipal.Current.FindFirst("preferred_username");
    string name = claim != null ? claim.Value : string.Empty;

    <text>
        <ul class="nav navbar-nav navbar-right  mr-auto">
            <li class="navbar-text nav-item">

                @*The 'preferred_username' claim can be used for showing the user's primary way of identifying themselves.*@

                Hello, @name!
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sign out", "SignOut", "Account", null, new { @class = "nav-link" }))
            </li>
        </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right  mr-auto">
        @*<li><img src="~/Content/microsoft.png" style="max-width: 30px;max-height: 30px; display:block; vertical-align:bottom" /></li>
            <li> @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li class="nav-item">
            <a href="@Url.Action("SignIn", "Account")" title="Sign in" class="nav-link">
                <img alt="Sign in" src="@Url.Content("~/Content/microsoft.png")" style="max-width: 30px;max-height: 30px;">
                Sign in with Microsoft
            </a>
        </li>

    </ul>
}
